* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  box-sizing: border-box;
  word-break: keep-all;
  -ms-overflow-style: none;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  text-decoration-line: none;
  letter-spacing: -0.05rem;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 99;
  background-color: black;
  color: rgb(180, 180, 180);
  font-weight: 600;
  font-size: 1rem;
  padding-inline: 1.25rem;
  width: 100%;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  padding-left: 0.5rem;
  height: 100%;
}
.header__title img {
  width: 5.5rem;
}
.header__func {
  display: flex;
  flex-direction: row;
}
.header h5 {
  font-size: 1rem;
  padding-right: 0.6rem;
  font-weight: 600;
  color: rgb(109, 109, 109);
}
.header h6 {
  font-size: 1rem;
  padding-left: 0.6rem;
}

.bgimg {
  position: absolute;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  width: 100%;
}

.divider__column {
  width: 1px;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.divider__column.animTarget {
  opacity: 0;
}
.divider__column.triggered {
  opacity: 1;
  animation: slideIn_down 1s ease-out forwards, fadeIn 1s ease-out forwards;
}

.green {
  color: #19f189;
}

.bold {
  font-weight: 700;
}

.section {
  background-color: #0e0e0e;
}

.container {
  display: block;
  justify-content: center;
  animation: slideIn_down 0.75s ease-out forwards, fadeIn 1s ease-out forwards;
}

#pad1 {
  padding-bottom: 4rem;
}

#pad2 {
  padding-bottom: 4rem;
}

.wrapper {
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 10rem;
  padding-block: 3rem;
}
.wrapper.triggered h1.animTarget {
  opacity: 1;
  animation: slideIn_down 1s ease-out forwards, fadeIn 1s ease-out forwards;
}
.wrapper.triggered h2.animTarget {
  opacity: 1;
  animation: fadeIn 1s ease-out forwards;
}
.wrapper.triggered p.animTarget {
  opacity: 1;
  animation: slideIn_down 1s ease-out forwards, fadeIn 1s ease-out forwards;
}
.wrapper p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.65;
  padding-top: 2rem;
}
.wrapper p.animTarget {
  opacity: 0;
}
.wrapper h1 {
  font-size: 4rem;
  padding-inline: 12rem;
  padding-top: 12rem;
}
.wrapper h1.animTarget {
  opacity: 0;
}
.wrapper h2 {
  font-size: 1.6rem;
}
.wrapper h2.animTarget {
  opacity: 0;
}

.text__wrapper {
  width: 40vw;
  margin: 0 auto;
}

.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__wrapper.triggered .animTarget {
  opacity: 1;
  animation: slideIn_down 1s ease-out forwards, fadeIn 1s ease-out forwards;
}

.card {
  width: 20rem;
  height: 10rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #232323;
  border-radius: 0.75rem;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  margin-inline: 2.5rem;
  margin-block: 1rem;
}
.card.animTarget {
  opacity: 0;
}
.card h3 {
  font-size: 1.1rem;
  font-weight: 300;
}

.wrapper__desc {
  display: block;
  justify-content: center;
  color: white;
  padding-inline: 20rem;
  padding-block: 3rem;
  text-align: center;
}
.wrapper__desc.triggered .animTarget {
  opacity: 1;
  animation: slideIn_down 1s ease-out forwards, fadeIn 1s ease-out forwards;
}
.wrapper__desc.triggered h1.animTarget {
  opacity: 0.6;
  animation: slideIn_down 1s ease-out forwards, fadeIn 1s ease-out forwards;
}
.wrapper__desc p {
  font-size: 1.2rem;
  line-height: 1.8;
  padding-inline: 18rem;
}
.wrapper__desc p.animTarget {
  opacity: 0;
}
.wrapper__desc h1 {
  font-size: 5rem;
  padding-inline: 12rem;
  padding-block: 2rem 5rem;
  color: coral;
}
.wrapper__desc h1.animTarget {
  opacity: 0;
}
.wrapper__desc h2 {
  font-size: 2rem;
  padding-top: 4rem;
  color: coral;
}
.wrapper__desc h2.animTarget {
  opacity: 0;
}
.wrapper__desc h3 {
  padding-top: 1rem;
  font-size: 1.5rem;
}
.wrapper__desc h3.animTarget {
  opacity: 0;
}

#next.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10rem;
}
#next.wrapper.triggered .animTarget {
  opacity: 1;
  animation: slideIn_down 0.5s ease-out forwards, fadeIn 0.5s ease-out forwards;
}
#next.wrapper :hover {
  color: coral;
}

#watch.btn {
  margin: 0;
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(../img/pages/thumbnail_watch.webp);
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 600;
}
#watch.btn.animTarget {
  opacity: 0;
}
#watch.btn h2 {
  font-size: 3.4rem;
  font-weight: 400;
}
#watch.btn p {
  font-size: 1rem;
  padding-inline: 3rem;
}

#process.btn {
  margin: 0;
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(../img/pages/thumbnail_process.webp);
  font-size: 2rem;
  font-weight: 600;
}
#process.btn.animTarget {
  opacity: 0;
}
#process.btn h2 {
  font-size: 3.4rem;
  font-weight: 400;
}
#process.btn p {
  font-size: 1rem;
  padding-inline: 3rem;
}

.text__notice {
  position: absolute;
  bottom: 160px;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(29, 29, 29);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    transform: opacity(1);
  }
}
@keyframes slideIn_up {
  from {
    transform: translate(0, 2.5rem);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideIn_down {
  from {
    transform: translate(0, -2rem);
  }
  to {
    transform: translate(0, 0);
  }
}